<ion-view title="History" hide-back-button="true" cache-view="false" nav-transition="none" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="history-button-bar3" class="button-bar">
      <a ui-sref="mainPage()" id="history-button16" class="button button-positive button-block">Present</a>
      <button id="history-button17" class="button button-positive button-block">History</button>
    </div>
    <div id="history-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Present Amount Value is $10,000</strong>
      </p>
    </div>
    <div>
      <img src="img/AMXsuxcwRiO2OqqnXhfb_pie_chart.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="history-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Here is your portfolio</p>
    </div>
  </ion-content>
</ion-view>