<ion-view title="Main Page" hide-back-button="true" cache-view="false" nav-transition="none" id="page2">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div id="mainPage-button-bar2" class="button-bar">
      <button id="mainPage-button9" class="button button-positive button-block">Present</button>
      <a ui-sref="history()" id="mainPage-button10" class="button button-positive button-block">History</a>
    </div>
    <div id="mainPage-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Present Amount Value is $10,000</strong>
      </p>
    </div>
    <div>
      <img src="img/AMXsuxcwRiO2OqqnXhfb_pie_chart.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="mainPage-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Here is your portfolio</p>
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <ion-list id="mainPage-list3">
      <ion-item class="item-divider" id="mainPage-list-item-divider1"> Your Algorithms</ion-item>
    </ion-list>
    <div id="mainPage-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Arbitrage Opportunities: Buying a dual listed stock at a lower price in one market and simultaneously selling it at a higher price in another market offers the price differential as risk-free profit or arbitrage. The same operation can be replicated
        for stocks versus futures instruments, as price differentials do exists from time to time. Implementing an algorithm to identify such price differentials and placing the orders allows profitable opportunities in efficient manner.</p>

      <p style="color:#000000;">Read more: Basics of Algorithmic Trading: Concepts and Examples | Investopedia http://www.investopedia.com/articles/active-trading/101014/basics-algorithmic-trading-concepts-and-examples.asp#ixzz4tYtTxMpQ Follow us: Investopedia on Facebook</p>
    </div>
  </ion-content>
</ion-view>