<ion-view title="Statements" hide-back-button="true" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="statements-list4">
      <ion-item class="item-icon-right" id="statements-list-item4">9/30/2017
        <i class="icon ion-android-open"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statements-list-item5">8/30/2017
        <i class="icon ion-android-open"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statements-list-item6">7/30/2017
        <i class="icon ion-android-open"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>